h1,h2,h3,h4,h5,h6{
    font-family: 'Londrina Sketch', cursive;
    
}


.menu{
    width: 100%;
    height: 100px;
    background-color: rgb(252, 252, 35);
    display: flex;
    justify-content: space-around;
    align-items: center ;
}
.menu .logo a img{
    width: 100px;
}

.enlaces ul{
    list-style: none;
    display: flex;
}
.enlaces ul li{
    margin-right: 10px;
}
.enlaces ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.enlaces ul li a:hover{
    border-bottom: 1px solid rgb(243, 90, 90);
    color: antiquewhite;

}
.iconos i,
.iconos svg{
    margin-right: 5px;
    background-color: antiquewhite;
    padding: 5px;
}

.iconos i:hover,
.iconos svg:hover{
    color: rgb(219, 204, 204);
    background-color: black;
    font-size: 20px;

}
/* estilos principal */

.principal{
    width: 100%;
    height: 500px;
    background-image: url(../imagenes/Grupo-Éxito-1280x720-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    display: flex;
    justify-content:flex-start;
   
    
}

.principal .con-texto{
    width: 400px;
    height: 200px;
   text-align: center;
}
.principal .con-texto h1{
    font-size: 90px;
    color: rgb(254, 254, 254);
   
   
}
.principal .con-texto p{
    font-size: 20px;
    color: white;
    text-align: center;
}
.principal .con-texto a{
    font-size: 20px;
    background-color: blue;
    color: aqua;
    padding: 7px 15px;
    border-radius: 10px;
    text-decoration: none;
    
}
/*sesion descuento*/
.descuentos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descuentos .imagenes-des img {
    width: 300px;
    height: 300px;

}
.imagenes-des{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.titulo h2,
.productos .titulo-pro{
    font-size: 50px;
    color: yellow;
    font-weight: bold;

}

.titulo h2{
    font-size: 50px;
    font-weight:bold;
    color: yellow;
}

.titulo h2{
    font-size: 50px;
}
/*sesion productos */
.productos{
    height: auto;
    width: 100%;
    display: flex;

    flex-direction: column;
    align-items: center;
    }

    .con-productos{
        width: 65%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
.con-productos .targeta-pro{
    width: 400px;
    height: auto;
    border-radius: 10px;
    border: 1px solid black;
}
.targeta-pro img{
    width: 100%;
    height: auto;

}
.targeta-pro .contenido{
    width: 100%;
    height: auto;
    text-align: center;
}
.targeta-pro .contenido h3{
    color: rgb(35, 77, 63);
    font-size: 35px;
    font-weight: bold;
    }
    .targeta-pro .contenido p{
        font-size: 20px;
    }
.targeta-pro .botones{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.targeta-pro .botones p{
    font-weight: bold;
    color: gray;
}
.targeta-pro .botones a{
    background-color:yellow;
    color: rgb(11, 12, 14);
    padding: 7px 12px;
    border-radius: 10px;
    text-decoration: none;
    
}







































